.CariJalur {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.CariJalur img {
  height: 55vh;
  max-height: 400px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
}
