#file {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 19px 23px 1px rgb(0 0 0 / 15%);
}

#file::-webkit-file-upload-button {
  height: 40px;
  width: 50%;
  cursor: pointer;
  border: none;
  margin-right: 2rem;
  background-color: rgb(182, 42, 42);
  color: rgb(226, 226, 226);
}
