.Footer {
  height: 8rem;
  background-color: rgb(216, 216, 216);
}

.Footer-footer {
  height: 8rem;
  background-color: rgb(61, 61, 61);
  border-radius: 150px 150px 0 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
