.Home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.Home img {
  /* min-width: 500px; */
  max-height: 75vh;
  /* width: 45%; */
}

img {
  transition: 0.3s;
}
/* 
img:hover {
  transform: scale(1.04);
} */

.Home-title {
  width: 40%;
  padding: 6rem 1rem;
}

.Home-title h1 {
  color: rgb(182, 42, 42);
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.Home-title p {
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.Home-title button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(182, 42, 42);
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: 0.3s;
  box-shadow: 6px 19px 23px 1px rgb(0 0 0 / 15%);
}

.Home-title button:hover {
  transform: scale(1.05);
}

.Arrow-logo {
  padding: 0.23rem 0 0 0.5rem;
}
