.input-form {
  background-color: rgb(196, 196, 196);
  max-width: 600px;
  width: 40vw;
  min-width: 400px;
  display: flex;
  height: 600px;
  flex-direction: column;
  padding: 3rem 3rem;
  border-radius: 15px;
}

.input-form input {
  margin-bottom: 1rem;
  background-color: rgb(226, 226, 226);
  border: none;
  border-radius: 5px;
  height: 30px;
}

.input-form label {
  padding-bottom: 0.5rem;
  color: rgb(56, 56, 56);
}

.input-btn {
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 1.2rem;
  background-color: rgb(182, 42, 42);
  color: rgb(226, 226, 226);
  cursor: pointer;
  font-weight: 500;
}
