a {
  text-decoration: none;
}

h1 {
  color: white;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 3rem 4rem;
  position: fixed;
  top: 0;
}

.navbar a {
  color: #ebebeb;
  cursor: pointer;
  transition: 0.3s;
}

.navbar a:hover {
  transform: scale(1.1);
}

.invert {
  background: linear-gradient(to bottom, rgb(190, 170, 170), transparent);
}

.invert a {
  color: rgb(61, 61, 61);
}

.nav-logo,
.nav-menu {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.nav-menu a:hover {
  transform: scale(1.1);
}

.nav-logo a {
  font-size: 22px;
  font-weight: 600;
}

.nav-menu a {
  padding-top: 0.2rem;
  padding-right: 2rem;
  font-weight: 400;
}
